@import url("https://fonts.googleapis.com/css?family=Rubik:regular,500,700&display=swap");

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/iconswoff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-cart:before {
  content: "\e901";
}

._icon-facebook:before {
  content: "\e902";
}

._icon-instagram:before {
  content: "\e903";
}

._icon-search:before {
  content: "\e904";
}

._icon-twitter:before {
  content: "\e905";
}

._icon-user:before {
  content: "\e906";
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

::-ms-reveal {
  display: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.ibg {
  position: relative;
}

.ibg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body {
  font-family: "Rubik";
  font-size: 1.375rem;
  color: #180202;
}

[class*=__container] {
  max-width: 73.4375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.btn_white {
  position: relative;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.4;
  color: #ff4948;
  padding: 0.9375rem 2.875rem;
  background-color: #fff;
  border-radius: 50pc;
  min-height: 3.75rem;
  overflow: hidden;
  text-transform: uppercase;
}

.btn_white span {
  position: relative;
  z-index: 1;
}

.btn_white::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  border-radius: 50pc;
  height: 100%;
  background-color: #ffdcdc;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.btn_red {
  position: relative;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.4;
  color: #fff;
  padding: 0.9375rem 1.875rem;
  background-color: #ff4948;
  border-radius: 50pc;
  min-height: 3.75rem;
  overflow: hidden;
}

.btn_red span {
  position: relative;
  z-index: 1;
}

.btn_red::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  border-radius: 50pc;
  height: 100%;
  background-color: #db3838;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.swiper-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
  row-gap: 6px;
}

.swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50pc;
  background-color: #efefef;
  cursor: pointer;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.swiper-pagination-vertical {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-pagination-vertical > .swiper-pagination-bullet-active {
  background-color: rgb(0, 115, 255);
  width: 8px;
  height: 16px;
}

.swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-vertical > .swiper-pagination-progressbar {
  width: 4px;
  height: 100%;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: rgb(223, 84, 84);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
}

.swiper-pagination-progressbar {
  background: rgb(255, 154, 154);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 4px;
}

.swiper-vertical > .swiper-button-block {
  display: none;
}

.swiper-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.swiper-vertical > .swiper-wrapper > .swiper-slide {
  width: 100vw;
}

.title {
  font-weight: 700;
  font-size: 6.1875rem;
  color: #fff;
  text-transform: uppercase;
}

.title_s44 {
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 1.3;
  color: #180202;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  padding: 0.3125rem 0;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.header._scroll {
  background-color: rgba(255, 125, 125, 0.8078431373);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8.5rem;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.header__container._scroll {
  min-height: 3.75rem;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__logo img {
  max-width: 100%;
}

.header__menu {
  position: relative;
  z-index: 5;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4rem;
     -moz-column-gap: 4rem;
          column-gap: 4rem;
  row-gap: 0.875rem;
}

.menu__item {
  position: relative;
}

.menu__item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 0;
  right: -2rem;
  background-color: rgba(255, 255, 255, 0.5);
  width: 0.125rem;
  height: 100%;
}

.menu__item:not(:last-child)._remove::before {
  opacity: 0;
}

.menu__link {
  display: inline-block;
  position: relative;
  background-color: #fff;
  width: 2.875rem;
  height: 2.875rem;
  border-radius: 50%;
  color: #ff4948;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.menu__link::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu__link._remove {
  opacity: 0;
}

.menu__form {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.menu__form._active {
  opacity: 1;
  visibility: visible;
}

.menu__form._active .menu__search {
  width: 16.875rem;
}

.menu__search {
  padding: 0.75rem 1.25rem 0.75rem 3.75rem;
  border-radius: 50pc;
  font-size: 1.125rem;
  width: 0rem;
  margin-left: -2.8125rem;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.menu__submit {
  display: inline-block;
  position: relative;
  background-color: #fff;
  width: 2.875rem;
  height: 2.875rem;
  border-radius: 50%;
  color: #ff4948;
  font-size: 1.25rem;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.menu__submit::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hidden-menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
  position: fixed;
  top: -100vw;
  left: 0;
  width: 100%;
  background-color: #ffdcdc;
  text-align: center;
  overflow: auto;
  padding: 11.875rem 0.9375rem 2.5rem 0.9375rem;
  -webkit-transition: 0.8s ease 0s;
  -o-transition: 0.8s ease 0s;
  transition: 0.8s ease 0s;
}

.hidden-menu-header::before {
  content: "";
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 9.125rem;
  background-color: #ff7d7d;
  opacity: 0;
  -webkit-transition: 0.8s ease 0s;
  -o-transition: 0.8s ease 0s;
  transition: 0.8s ease 0s;
}

.hidden-menu-header._scroll {
  padding-top: 8.75rem;
}

.hidden-menu-header._scroll::before {
  height: 4.75rem;
}

.hidden-menu-header._active {
  top: 0;
}

.hidden-menu-header._active::before {
  opacity: 1;
}

.hidden-menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.hidden-menu-header__link {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(255, 72, 72, 0.6078431373);
  position: relative;
}

.hidden-menu-header__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 72, 72, 0.6078431373);
  width: 100%;
  height: 0.125rem;
  border-radius: 50pc;
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.header__burger {
  margin-left: 0.9375rem;
  display: block;
  width: 2.5rem;
  height: 1.75rem;
  cursor: pointer;
  position: relative;
  z-index: 5;
}

.header__burger span,
.header__burger::before,
.header__burger::after {
  content: "";
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.1875rem;
  border-radius: 50pc;
  background-color: #fff;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
  width: 80%;
}

.header__burger span:nth-child(1) {
  top: 25%;
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
  width: 80%;
}

.header__burger span:nth-child(2) {
  bottom: 25%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.header__burger._active span {
  width: 0;
}

.header__burger._active::before,
.header__burger._active::after {
  width: 100%;
}

.header__burger._active::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__burger._active::after {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main {
  min-height: 100vh;
  background: -o-linear-gradient(15.21deg, #ff9292 -7.33%, #de5150 90.21%);
  background: linear-gradient(74.79deg, #ff9292 -7.33%, #de5150 90.21%);
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  min-height: 53.75rem;
}

.main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 9.4375rem;
     -moz-column-gap: 9.4375rem;
          column-gap: 9.4375rem;
}

.main__image img {
  max-width: 100%;
  position: relative;
  z-index: 1;
}

.main__content {
  max-width: 32.3125rem;
}

.main__title-min {
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 0.1875rem;
}

.main__title:not(:last-child) {
  margin-bottom: 2.8125rem;
}

.main__price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3.75rem;
     -moz-column-gap: 3.75rem;
          column-gap: 3.75rem;
}

.main__price-block:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.main__price {
  position: relative;
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 1.3;
  color: #ffffff;
}

.main__price::before {
  content: "";
  position: absolute;
  top: 0;
  right: -1.875rem;
  background-color: #fff;
  width: 0.125rem;
  height: 100%;
}

.main__old-price {
  font-weight: 500;
  font-size: 1.9375rem;
  line-height: 1, 4;
  text-decoration-line: line-through;
  color: #ffffff;
  opacity: 0.7;
}

.image-main {
  position: relative;
}

.image-main__icon {
  opacity: 0.1;
  position: absolute;
}

.image-main__icon img {
  max-width: 100%;
}

.image-main__icon_1 {
  top: 70.3259005146%;
  left: -54.5454545455%;
  width: 3.125rem;
}

.image-main__icon_2 {
  top: 19.897084048%;
  left: -54.5454545455%;
  width: 5.0625rem;
}

.image-main__icon_3 {
  top: 72.5557461407%;
  left: -16.3636363636%;
  width: 2.5rem;
}

.image-main__icon_4 {
  top: 28.6449399657%;
  left: -19.0909090909%;
  width: 3.5625rem;
}

.image-main__icon_5 {
  top: -1.372212693%;
  left: -10.4545454545%;
  width: 2.5rem;
}

.image-main__icon_6 {
  top: -10.4631217839%;
  right: 11.8181818182%;
  width: 2.1875rem;
}

.image-main__icon_7 {
  bottom: 2.0583190395%;
  right: 7.0454545455%;
  width: 2.5rem;
}

.image-main__icon_8 {
  top: 0%;
  right: -15.2272727273%;
  width: 3.5625rem;
}

.image-main__icon_9 {
  top: 39.4511149228%;
  right: -29.5454545455%;
  width: 5.625rem;
}

.our-colection-2021 {
  padding-top: 8.125rem;
}

.our-colection-2021__titel {
  max-width: 31.75rem;
  margin: 0 auto 8.125rem auto;
  text-align: center;
}

.our-colection-2021__body {
  position: relative;
  max-width: 60.75rem;
  margin: 0 auto;
}

.our-colection-2021__slider {
  width: 100%;
}

.our-colection-2021__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  border-radius: 1.875rem;
  border: 1px solid rgba(125, 117, 117, 0.3);
  padding: 0.625rem;
  -webkit-transition: -webkit-filter, -webkit-transform 0.3s ease 0s;
  transition: -webkit-filter, -webkit-transform 0.3s ease 0s;
  -o-transition: filter, transform 0.3s ease 0s;
  transition: filter, transform 0.3s ease 0s;
  transition: filter, transform 0.3s ease 0s, -webkit-filter, -webkit-transform 0.3s ease 0s;
}

.our-colection-2021__button-prev {
  left: -7.2016460905%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.our-colection-2021__button-prev::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.our-colection-2021__button-next {
  right: -7.2016460905%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.our-colection-2021__button-prev,
.our-colection-2021__button-next {
  top: 50%;
  position: absolute;
  font-size: 2.25rem;
  background-color: transparent;
  z-index: 2;
}

.slide-our-colection-2021__image img {
  border-radius: 1.875rem;
  max-width: 100%;
}

.advantage {
  padding-top: 11.875rem;
}

.advantage__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 11.875rem;
     -moz-column-gap: 11.875rem;
          column-gap: 11.875rem;
}

.advantage__content {
  max-width: 28.75rem;
}

.advantage__title {
  margin-bottom: 3.75rem;
}

.advantage__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.advantage__item:not(:last-child) {
  margin-bottom: 2.5rem;
}

.advantage__image img {
  max-width: 100%;
  position: relative;
  z-index: 1;
}

.item-advantage__icon img {
  max-width: 100%;
}

.item-advantage__title {
  font-weight: 500;
  font-size: 1.9375rem;
  line-height: 1.4;
}

.item-advantage__text {
  font-size: 1rem;
  line-height: 1.5;
  opacity: 0.7;
  margin-bottom: 0.3125rem;
}

.item-advantage__link {
  position: relative;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: #ff4948;
}

.item-advantage__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.125rem;
  background-color: #ff4948;
  border-radius: 50pc;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.image-advantage {
  position: relative;
}

.image-advantage__note {
  position: absolute;
  opacity: 0.5;
}

.image-advantage__note img {
  max-width: 100%;
}

.image-advantage__note_1 {
  top: 52.3206751055%;
  left: 41.265060241%;
  width: 2.5rem;
}

.image-advantage__note_2 {
  top: 21.3080168776%;
  left: 52.4096385542%;
  width: 2.875rem;
}

.image-advantage__note_3 {
  top: -13.7130801688%;
  left: 60.843373494%;
  width: 4.875rem;
}

.image-advantage__note_4 {
  top: 20.4641350211%;
  right: -2.1084337349%;
  width: 3.75rem;
}

.image-advantage__note_4 img {
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.image-advantage__note_5 {
  top: -11.6033755274%;
  right: -25%;
  width: 1.4375rem;
}

.image-advantage__note_6 {
  top: 23.2067510549%;
  right: -34.0361445783%;
  width: 1.6875rem;
}

.image-advantage__sound {
  position: absolute;
}

.image-advantage__sound_min-1 {
  bottom: 1.2658227848%;
  left: -1.5060240964%;
  -webkit-animation-name: sound-min;
          animation-name: sound-min;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.image-advantage__sound_min-2 {
  bottom: 5.0632911392%;
  right: -5.421686747%;
  -webkit-animation-name: sound-min;
          animation-name: sound-min;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes sound-min {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes sound-min {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.image-advantage__sound_mid-1 {
  bottom: -5.9071729958%;
  left: -10.5421686747%;
  -webkit-animation-name: sound-mid;
          animation-name: sound-mid;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.image-advantage__sound_mid-2 {
  bottom: -0.8438818565%;
  right: -13.8554216867%;
  -webkit-animation-name: sound-mid;
          animation-name: sound-mid;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes sound-mid {
  0% {
    opacity: 1;
  }

  30% {
    opacity: 0.5;
  }

  55% {
    opacity: 1;
  }

  70% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@keyframes sound-mid {
  0% {
    opacity: 1;
  }

  30% {
    opacity: 0.5;
  }

  55% {
    opacity: 1;
  }

  70% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

.image-advantage__sound_big-1 {
  bottom: -12.6582278481%;
  left: -19.8795180723%;
  -webkit-animation-name: sound-big;
          animation-name: sound-big;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.image-advantage__sound_big-2 {
  bottom: -7.1729957806%;
  right: -22.8915662651%;
  -webkit-animation-name: sound-big;
          animation-name: sound-big;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes sound-big {
  0% {
    opacity: 1;
  }

  30% {
    opacity: 0.5;
  }

  70% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@keyframes sound-big {
  0% {
    opacity: 1;
  }

  30% {
    opacity: 0.5;
  }

  70% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

.our-products {
  padding-top: 8.125rem;
}

.our-products__container {
  text-align: center;
}

.our-products__title {
  margin-bottom: 1.625rem;
}

.our-products__text {
  font-size: 1rem;
  line-height: 1.5;
  color: #180202;
  opacity: 0.7;
  max-width: 34.8125rem;
  margin: 0 auto 5.625rem auto;
}

.our-products__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20.75rem, 1fr));
  gap: 3.9375rem;
}

.our-products__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-our-products:nth-child(1) .item-our-products__image {
  background-color: #ffe6ee;
}

.item-our-products:nth-child(1) .item-our-products__card {
  background-color: #ffe6ee;
}

.item-our-products:nth-child(2) .item-our-products__image {
  background-color: #e5f1ff;
}

.item-our-products:nth-child(2) .item-our-products__card {
  background-color: #e5f1ff;
}

.item-our-products:nth-child(3) .item-our-products__image {
  background-color: #e5fffb;
}

.item-our-products:nth-child(3) .item-our-products__card {
  background-color: #e5fffb;
}

.item-our-products__image {
  display: block;
  width: 100%;
  height: 20.75rem;
  border-radius: 1.875rem;
  margin-bottom: 2.1875rem;
}

.item-our-products__image img {
  -webkit-transform: translate(0, -2.9375rem);
      -ms-transform: translate(0, -2.9375rem);
          transform: translate(0, -2.9375rem);
}

.item-our-products__card {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(40%, -40%);
      -ms-transform: translate(40%, -40%);
          transform: translate(40%, -40%);
  padding: 1.25rem;
  border-radius: 50%;
  border: 6px solid #ffffff;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.item-our-products__evaluation-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.9375rem;
}

.item-our-products__evaluation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.item-our-products__evaluation-value {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
}

.item-our-products__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-our-products__title {
  font-size: 1.375rem;
  line-height: 1.4;
  color: #180202;
}

.item-our-products__price {
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.4;
}

.kitting {
  padding-top: 8.125rem;
}

.kitting__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kitting__image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.kitting__image img {
  max-width: 100%;
}

.kitting__body {
  max-width: 24.375rem;
}

.kitting__title {
  margin-bottom: 3rem;
}

.kitting__item {
  max-width: 18.125rem;
  padding: 0 1.25rem;
}

.kitting__item:not(:last-child) {
  margin-bottom: 1.25rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1.25rem;
}

.kitting__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  color: #4d4d4d;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.subscribe {
  padding-top: 7.5rem;
  padding-bottom: 8.125rem;
}

.subscribe__container {
  position: relative;
}

.subscribe__icon {
  position: absolute;
  opacity: 0.5;
}

.subscribe__icon img {
  max-width: 100%;
}

.subscribe__icon_1 {
  top: -10.6896551724%;
  left: -4.4255319149%;
  width: 8.4375rem;
}

.subscribe__icon_2 {
  top: 51.724137931%;
  left: -5.2765957447%;
  width: 2.75rem;
}

.subscribe__icon_3 {
  top: 72.4137931034%;
  left: 6.9787234043%;
  width: 3.125rem;
}

.subscribe__icon_4 {
  top: -6.8965517241%;
  right: 8.3404255319%;
  width: 2.875rem;
}

.subscribe__icon_5 {
  top: 34.4827586207%;
  right: -2.3829787234%;
  width: 6.75rem;
}

.subscribe__icon_5 img {
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.subscribe__body {
  position: relative;
  z-index: 1;
  background-color: #fff4f4;
  max-width: 44.5rem;
  margin: 0 auto;
  text-align: center;
  border-radius: 1.25rem;
  padding: 3.375rem 6.4375rem;
}

.subscribe__title {
  margin-bottom: 0.375rem;
}

.subscribe__text {
  font-size: 1rem;
  line-height: 1.5;
  color: #180202;
  opacity: 0.7;
  margin-bottom: 2.25rem;
}

.form-subscribe__item {
  position: relative;
}

.form-subscribe__control {
  position: relative;
}

.form-subscribe__control.error input {
  border: 0.0625rem solid #ff4948;
}

.form-subscribe__control .error {
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  -webkit-transform: translate(0, 150%);
      -ms-transform: translate(0, 150%);
          transform: translate(0, 150%);
  left: 1.25rem;
  color: #ff4948;
}

.form-subscribe__email {
  padding: 1rem 1.875rem;
  border-radius: 50pc;
  width: 100%;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #180202;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  border: 0.0625rem solid transparent;
}

.form-subscribe__email::-webkit-input-placeholder {
  opacity: 0.3;
  color: #180202;
}

.form-subscribe__email::-moz-placeholder {
  opacity: 0.3;
  color: #180202;
}

.form-subscribe__email:-ms-input-placeholder {
  opacity: 0.3;
  color: #180202;
}

.form-subscribe__email::-ms-input-placeholder {
  opacity: 0.3;
  color: #180202;
}

.form-subscribe__email::placeholder {
  opacity: 0.3;
  color: #180202;
}

.footer {
  padding: 3.75rem 0;
  background-color: #e86564;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 3.75rem;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.1875rem;
     -moz-column-gap: 2.1875rem;
          column-gap: 2.1875rem;
  row-gap: 1rem;
}

.footer__link {
  position: relative;
  background-color: #fff;
  color: #e86564;
  width: 3.1875rem;
  height: 3.1875rem;
  border-radius: 50%;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.footer__link::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu-footer__body {
  padding: 0 0.3125rem;
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.125rem;
     -moz-column-gap: 2.125rem;
          column-gap: 2.125rem;
  row-gap: 1rem;
}

.menu-footer__link {
  position: relative;
  color: #fff;
}

.menu-footer__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 0.125rem;
  border-radius: 50pc;
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

@media (min-width: 28.8125em) {
  .form-subscribe__submit-block {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (min-width: 47.5625em) {
  .footer__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin-right: 13.125rem;
  }
}

@media (min-width: 72.25em) {
  .our-colection-2021__body::before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    left: -100vw;
    background-color: #fff;
    width: 100vw;
    height: 200%;
    z-index: 2;
  }

  .our-colection-2021__body::after {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    right: -100vw;
    background-color: #fff;
    width: 100vw;
    height: 200%;
    z-index: 1;
  }

  .our-colection-2021__slide.swiper-slide-active {
    border: 0 solid rgba(125, 117, 117, 0.3);
    -webkit-filter: drop-shadow(0px 21px 88px rgba(126, 118, 118, 0.2));
            filter: drop-shadow(0px 21px 88px rgba(126, 118, 118, 0.2));
    -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
            transform: scale(1.4);
    z-index: 2;
  }
}

@media (max-width: 73.4375em) {
  .title {
    font-size: calc(3.125rem + 49 * (100vw - 45rem) / 455);
  }
}

@media (max-width: 45em) {
  .title {
    font-size: 3.125rem;
  }

  .main {
    padding-top: 7.5rem;
  }

  .main__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    min-height: 63.125rem;
  }

  .main__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 1.875rem;
  }

  .main__content {
    max-width: none;
  }
}

@media (max-width: 45em) and (max-width: 31.25em) {
  .main__container {
    min-height: calc(46.875rem + 260 * (100vw - 20rem) / 180);
  }
}

@media (max-width: 45em) and (max-width: 20em) {
  .main__container {
    min-height: 46.875rem;
  }
}

@media (max-width: 20em) {
  .btn_white {
    font-size: 1.125rem;
  }

  .btn_white {
    padding-top: 0.5rem;
  }

  .btn_white {
    padding-bottom: 0.5rem;
  }

  .btn_white {
    padding-right: 1.75rem;
  }

  .btn_white {
    padding-left: 1.75rem;
  }

  .btn_white {
    min-height: 2.625rem;
  }

  .btn_red {
    font-size: 1.125rem;
  }

  .btn_red {
    padding-top: 0.5rem;
  }

  .btn_red {
    padding-bottom: 0.5rem;
  }

  .btn_red {
    padding-right: 1.75rem;
  }

  .btn_red {
    padding-left: 1.75rem;
  }

  .btn_red {
    min-height: 2.625rem;
  }

  .header__container {
    min-height: 3.75rem;
  }

  .header__logo {
    width: 3.25rem;
  }

  .hidden-menu-header {
    padding-top: 7.5rem;
  }

  .hidden-menu-header::before {
    height: 4.375rem;
  }

  .hidden-menu-header._scroll::before {
    height: 4.375rem;
  }

  .header__burger {
    width: 1.875rem;
  }

  .header__burger {
    height: 1.25rem;
  }

  .header__burger span,
  .header__burger::before,
  .header__burger::after {
    height: 0.125rem;
  }

  .main__body {
    -webkit-column-gap: 0rem;
       -moz-column-gap: 0rem;
            column-gap: 0rem;
  }

  .our-colection-2021 {
    padding-top: 4.375rem;
  }

  .our-colection-2021__titel {
    margin-bottom: 1.875rem;
  }

  .advantage {
    padding-top: 4.375rem;
  }

  .advantage__title {
    margin-bottom: 1.25rem;
  }

  .item-advantage__title {
    font-size: 1.5rem;
  }

  .image-advantage__note_1 {
    width: 1.25rem;
  }

  .image-advantage__note_2 {
    width: 1.5625rem;
  }

  .image-advantage__note_3 {
    width: 2.5rem;
  }

  .image-advantage__note_4 {
    width: 2.1875rem;
  }

  .image-advantage__note_5 {
    width: 1rem;
  }

  .image-advantage__note_6 {
    width: 1.125rem;
  }

  .our-products {
    padding-top: 4.375rem;
  }

  .our-products__text {
    margin-bottom: 3.75rem;
  }

  .kitting {
    padding-top: 4.375rem;
  }

  .subscribe {
    padding-top: 4.375rem;
  }

  .subscribe {
    padding-bottom: 4.375rem;
  }

  .subscribe__text {
    margin-bottom: 1.25rem;
  }

  .form-subscribe__email {
    padding-top: 0.4375rem;
  }

  .form-subscribe__email {
    padding-bottom: 0.4375rem;
  }

  .footer {
    padding-top: 1.875rem;
  }

  .footer {
    padding-bottom: 1.875rem;
  }
}

@media (max-width: 77.5em) {
  .item-our-products__card {
    -webkit-transform: translate(20%, -40%);
        -ms-transform: translate(20%, -40%);
            transform: translate(20%, -40%);
    padding: 0.9375rem;
    border: 3px solid #ffffff;
  }
}

@media (max-width: 73.4375em) {
  .btn_white {
    font-size: calc(1.125rem + 4 * (100vw - 20rem) / 855);
  }

  .btn_white {
    padding-top: calc(0.5rem + 7 * (100vw - 20rem) / 855);
  }

  .btn_white {
    padding-bottom: calc(0.5rem + 7 * (100vw - 20rem) / 855);
  }

  .btn_white {
    padding-right: calc(1.75rem + 18 * (100vw - 20rem) / 855);
  }

  .btn_white {
    padding-left: calc(1.75rem + 18 * (100vw - 20rem) / 855);
  }

  .btn_white {
    min-height: calc(2.625rem + 18 * (100vw - 20rem) / 855);
  }

  .btn_red {
    font-size: calc(1.125rem + 4 * (100vw - 20rem) / 855);
  }

  .btn_red {
    padding-top: calc(0.5rem + 7 * (100vw - 20rem) / 855);
  }

  .btn_red {
    padding-bottom: calc(0.5rem + 7 * (100vw - 20rem) / 855);
  }

  .btn_red {
    padding-right: calc(1.75rem + 2 * (100vw - 20rem) / 855);
  }

  .btn_red {
    padding-left: calc(1.75rem + 2 * (100vw - 20rem) / 855);
  }

  .btn_red {
    min-height: calc(2.625rem + 18 * (100vw - 20rem) / 855);
  }

  .title_s44 {
    font-size: calc(1.75rem + 16 * (100vw - 26.25rem) / 755);
  }

  .header__container {
    min-height: calc(3.75rem + 76 * (100vw - 20rem) / 855);
  }

  .header__logo {
    width: calc(3.25rem + 14 * (100vw - 20rem) / 855);
  }

  .menu__list {
    -webkit-column-gap: calc(2rem + 32 * (100vw - 38.75rem) / 555);
       -moz-column-gap: calc(2rem + 32 * (100vw - 38.75rem) / 555);
            column-gap: calc(2rem + 32 * (100vw - 38.75rem) / 555);
  }

  .menu__item:not(:last-child)::before {
    right: calc(-1rem + -16 * (100vw - 38.75rem) / 555);
  }

  .menu__link {
    width: calc(2.375rem + 8 * (100vw - 38.75rem) / 555);
  }

  .menu__link {
    height: calc(2.375rem + 8 * (100vw - 38.75rem) / 555);
  }

  .menu__link {
    font-size: calc(1.125rem + 2 * (100vw - 38.75rem) / 555);
  }

  .menu__form._active .menu__search {
    width: calc(12.375rem + 72 * (100vw - 26.25rem) / 755);
  }

  .menu__search {
    padding-top: calc(0.5rem + 4 * (100vw - 38.75rem) / 555);
  }

  .menu__search {
    padding-bottom: calc(0.5rem + 4 * (100vw - 38.75rem) / 555);
  }

  .menu__submit {
    width: calc(2.375rem + 8 * (100vw - 38.75rem) / 555);
  }

  .menu__submit {
    height: calc(2.375rem + 8 * (100vw - 38.75rem) / 555);
  }

  .menu__submit {
    font-size: calc(1.125rem + 2 * (100vw - 38.75rem) / 555);
  }

  .hidden-menu-header {
    padding-top: calc(7.5rem + 70 * (100vw - 20rem) / 855);
  }

  .hidden-menu-header::before {
    height: calc(4.375rem + 76 * (100vw - 20rem) / 855);
  }

  .hidden-menu-header._scroll::before {
    height: calc(4.375rem + 0 * (100vw - 20rem) / 855);
  }

  .header__burger {
    width: calc(1.875rem + 10 * (100vw - 20rem) / 855);
  }

  .header__burger {
    height: calc(1.25rem + 8 * (100vw - 20rem) / 855);
  }

  .header__burger span,
  .header__burger::before,
  .header__burger::after {
    height: calc(0.125rem + 1 * (100vw - 20rem) / 855);
  }

  .main__body {
    -webkit-column-gap: calc(0rem + 151 * (100vw - 20rem) / 855);
       -moz-column-gap: calc(0rem + 151 * (100vw - 20rem) / 855);
            column-gap: calc(0rem + 151 * (100vw - 20rem) / 855);
  }

  .main__price {
    font-size: calc(2.125rem + 10 * (100vw - 26.25rem) / 755);
  }

  .main__old-price {
    font-size: calc(1.75rem + 3 * (100vw - 26.25rem) / 755);
  }

  .our-colection-2021 {
    padding-top: calc(4.375rem + 60 * (100vw - 20rem) / 855);
  }

  .our-colection-2021__titel {
    margin-bottom: calc(1.875rem + 100 * (100vw - 20rem) / 855);
  }

  .advantage {
    padding-top: calc(4.375rem + 120 * (100vw - 20rem) / 855);
  }

  .advantage__container {
    -webkit-column-gap: calc(1.25rem + 170 * (100vw - 51.25rem) / 355);
       -moz-column-gap: calc(1.25rem + 170 * (100vw - 51.25rem) / 355);
            column-gap: calc(1.25rem + 170 * (100vw - 51.25rem) / 355);
  }

  .advantage__title {
    margin-bottom: calc(1.25rem + 40 * (100vw - 20rem) / 855);
  }

  .item-advantage__title {
    font-size: calc(1.5rem + 7 * (100vw - 20rem) / 855);
  }

  .our-products {
    padding-top: calc(4.375rem + 60 * (100vw - 20rem) / 855);
  }

  .our-products__text {
    margin-bottom: calc(3.75rem + 30 * (100vw - 20rem) / 855);
  }

  .kitting {
    padding-top: calc(4.375rem + 60 * (100vw - 20rem) / 855);
  }

  .subscribe {
    padding-top: calc(4.375rem + 50 * (100vw - 20rem) / 855);
  }

  .subscribe {
    padding-bottom: calc(4.375rem + 60 * (100vw - 20rem) / 855);
  }

  .subscribe__text {
    margin-bottom: calc(1.25rem + 16 * (100vw - 20rem) / 855);
  }

  .form-subscribe__email {
    padding-top: calc(0.4375rem + 9 * (100vw - 20rem) / 855);
  }

  .form-subscribe__email {
    padding-bottom: calc(0.4375rem + 9 * (100vw - 20rem) / 855);
  }

  .footer {
    padding-top: calc(1.875rem + 30 * (100vw - 20rem) / 855);
  }

  .footer {
    padding-bottom: calc(1.875rem + 30 * (100vw - 20rem) / 855);
  }
}

@media (max-width: 72.3125em) {
  .our-colection-2021__slider {
    overflow: hidden;
  }
}

@media (max-width: 72.25em) {
  .our-colection-2021__button-prev {
    left: 0;
    -webkit-transform: translate(100%, -50%);
        -ms-transform: translate(100%, -50%);
            transform: translate(100%, -50%);
  }

  .our-colection-2021__button-next {
    right: 0;
    -webkit-transform: translate(-100%, -50%);
        -ms-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
}

@media (max-width: 51.25em) {
  .advantage__container {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}

@media (max-width: 48.75em) {
  .image-advantage__note_1 {
    width: calc(1.25rem + 20 * (100vw - 20rem) / 460);
  }

  .image-advantage__note_2 {
    width: calc(1.5625rem + 21 * (100vw - 20rem) / 460);
  }

  .image-advantage__note_3 {
    width: calc(2.5rem + 38 * (100vw - 20rem) / 460);
  }

  .image-advantage__note_4 {
    width: calc(2.1875rem + 25 * (100vw - 20rem) / 460);
  }

  .image-advantage__note_5 {
    width: calc(1rem + 7 * (100vw - 20rem) / 460);
  }

  .image-advantage__note_6 {
    width: calc(1.125rem + 9 * (100vw - 20rem) / 460);
  }
}

@media (max-width: 47.5em) {
  .advantage__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 3.75rem;
  }

  .advantage__content {
    max-width: none;
  }

  .advantage__image {
    width: 60%;
  }

  .kitting__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 2.5rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .kitting__body {
    max-width: none;
  }

  .footer__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 44.5em) {
  .subscribe__body {
    padding-top: calc(1.875rem + 24 * (100vw - 32.5rem) / 192);
  }

  .subscribe__body {
    padding-right: calc(1.875rem + 73 * (100vw - 32.5rem) / 192);
  }

  .subscribe__body {
    padding-left: calc(1.875rem + 73 * (100vw - 32.5rem) / 192);
  }
}

@media (max-width: 38.75em) {
  body._lock {
    overflow: hidden;
  }

  .menu__list {
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
  }

  .menu__item:not(:last-child)::before {
    right: -1rem;
  }

  .menu__link {
    width: 2.375rem;
  }

  .menu__link {
    height: 2.375rem;
  }

  .menu__link {
    font-size: 1.125rem;
  }

  .menu__search {
    padding-top: 0.5rem;
  }

  .menu__search {
    padding-bottom: 0.5rem;
  }

  .menu__submit {
    width: 2.375rem;
  }

  .menu__submit {
    height: 2.375rem;
  }

  .menu__submit {
    font-size: 1.125rem;
  }

  .hidden-menu-header {
    height: 100%;
    top: 0;
    left: -100%;
    -webkit-transition: 0.3s ease 0s;
    -o-transition: 0.3s ease 0s;
    transition: 0.3s ease 0s;
  }

  .hidden-menu-header::before {
    top: 0;
    left: -100%;
    opacity: 1;
    -webkit-transition: 0.3s ease 0s;
    -o-transition: 0.3s ease 0s;
    transition: 0.3s ease 0s;
  }

  .hidden-menu-header._active {
    left: 0;
  }

  .hidden-menu-header._active::before {
    left: 0;
  }

  .subscribe__icon {
    display: none;
  }
}

@media (max-width: 33.125em) {
  .image-advantage__sound {
    display: none;
  }

  .our-products__items {
    grid-template-columns: repeat(auto-fit, minmax(16.875rem, 1fr));
  }
}

@media (max-width: 32.5em) {
  .subscribe__body {
    padding-top: 1.875rem;
  }

  .subscribe__body {
    padding-right: 1.875rem;
  }

  .subscribe__body {
    padding-left: 1.875rem;
  }

  .subscribe__body {
    margin: 0 -0.9375rem;
    border-radius: 0;
  }
}

@media (max-width: 28.75em) {
  .subscribe__body {
    padding-bottom: 1.875rem;
  }

  .form-subscribe__control .error {
    display: none;
  }

  .form-subscribe__submit-block {
    margin-top: 1.25rem;
  }
}

@media (max-width: 26.25em) {
  .title_s44 {
    font-size: 1.75rem;
  }

  .menu__item:not(:last-child)::before {
    display: none;
  }

  .menu__form._active .menu__search {
    width: 12.375rem;
  }

  .main__price {
    font-size: 2.125rem;
  }

  .main__old-price {
    font-size: 1.75rem;
  }
}

@media (min-width: 47.5625em) and (max-width: 55.625em) {
  .footer__menu {
    margin-right: calc(0rem + 210 * (100vw - 46.875rem) / 140);
  }
}

@media (min-width: 47.5625em) and (max-width: 46.875em) {
  .footer__menu {
    margin-right: 0rem;
  }
}

@media (any-hover: hover) {
  .btn_white:hover::before {
    width: 100%;
  }

  .btn_red:hover::before {
    width: 100%;
  }

  .menu__link:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .hidden-menu-header__link:hover::before {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .item-advantage__link:hover::before {
    width: 100%;
  }

  .item-our-products:nth-child(1) .item-our-products__card:hover {
    background-color: #ffd4e2;
  }

  .item-our-products:nth-child(2) .item-our-products__card:hover {
    background-color: #d0e1f6;
  }

  .item-our-products:nth-child(3) .item-our-products__card:hover {
    background-color: #cbeee9;
  }

  .kitting__link:hover {
    -webkit-transform: translate(2%, 0);
        -ms-transform: translate(2%, 0);
            transform: translate(2%, 0);
  }

  .footer__link:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .menu-footer__link:hover::before {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}
